/* Blog section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #d7b3b8;
    min-height: 100vh;
}

/* Navigation */
nav {
    display: flex;
    position: absolute;
    top: 50px;
    right: 50px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-size: 16px;
    font-family: "Archivo Black", sans-serif;
}

.nav-links ul li a:hover{
    color: #392341;
}



/* Title Button */
.blog-title {
    margin: 60px auto;
    width: 250px;
    text-align: center;
    padding: 15px;
    background: #d890c1;
    border-radius: 40px;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 6px 6px 0px black;
}

/* Container */
.blog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* Arrows */
.arrow {
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

/* Cards Wrapper */
.cards-wrapper {
    display: flex;
    gap: 60px;
}

/* Blog Card */
.blog-card {
    width: 260px;
    background: #f1f1f1;
    border-radius: 5px;
    box-shadow: 6px 6px 0px #000000;
    display: none;
    flex-direction: column;
}

.blog-card.active {
    display: flex;
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 15px;
}

.blog-content small {
    font-size: 12px;
}

.blog-content h3 {
    margin: 10px 0;
    font-size: 20px;
}

.blog-content p {
    font-size: 14px;
    max-height: 40px;
    overflow: hidden;
    transition: 0.3s ease;
}

.blog-content p.expanded {
    max-height: 200px;
}

.blog-content button {
    margin-top: 10px;
    background: #e2e2e2;
    border: none;
    padding: 8px 12px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
}