* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    font-family: "Merriweather", serif;
    background: radial-gradient(circle at 50% 50%,
            #ffeaa7,
            #fab1a0,
            #d58af0,
            #464192);
}

/*NAVIGATION*/
nav {
    display: flex;
    position: absolute;
    top: 50px;
    right: 50px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-size: 16px;
    font-family: "Archivo Black", sans-serif;
}

.nav-links ul li a:hover{
    color: #392341;
}

/*PAGE WRAPPER */
.page {
    display: flex;
    flex-wrap: wrap;
}

/* EACH DAY SECTION */
.left-blog,
.right-blog {
    width: 50%;
    padding: 80px;
    gap: 30px;

}

/* FLEX ALIGNMENT */
.page {
    display: flex;
}

.left-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-blog h1 {
    color: #5a0066;
    font-size: 28px;
}

.left-blog h4 {
    color: #5a0066;
    margin-bottom: 20px;
}

.left-blog p {
    color: #5a0066;
    line-height: 1.6;
    max-width: 500px;
    text-align: justify;
}

.right-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* BADGE  */
.badge {
    background-color: #e49bd4;
    padding: 12px 40px;
    border-radius: 40px;
    border: 2px solid black;
    box-shadow: 6px 6px 0 black;
    margin-bottom: 40px;
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
}

/*  IMAGE */

.image-box img {
    width: 600px;
    display: block;
    border: 5px solid #ffb2ef;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 20%;
}

/*  RIGHT SIDE TEXT*/
.right-blog h1 {
    color: #5a0066;
    font-size: 28px;
}

.right-blog h4 {
    color: #5a0066;
    margin-bottom: 20px;
}

.subtitle {
    display: inline-block;
    background-color: #e8d1d1;
    padding: 15px 20px;
    border-radius: 40px;
    border: 2px solid black;
    box-shadow: 6px 6px 0 black;
    margin-bottom: 20px;
    font-weight: bold;
    width: 50%;
}

.right-blog p {
    color: #5a0066;
    line-height: 1.6;
    max-width: 500px;
    text-align: justify;
}
