/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

/* Body background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 50% 70%,
            #ffeaa7,
            #fab1a0,
            #d58af0,
            #464192);

}

/* Navigation */
nav {
    display: flex;
    position: absolute;
    top: 50px;
    right: 50px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-size: 16px;
    font-family: "Archivo Black", sans-serif;
}

.nav-links ul li a:hover{
    color: #392341;
}
/* Hero Text */
.hero {
    text-align: center;
    margin-top: 40px;
}

.hero h2 {
    font-size: 25px;
    margin-bottom: 5px;

}

.hero h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.name{
    color:#71105a;
    font-family: "Merriweather", serif;
    font-weight: 400;
}
.hero p {
    font-size: 14px;
}

/* Subtext */
.subtext {
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
}

/* Cards Section */
.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

/* Individual Card */
.card {
    text-align: center;
    display: flex;
    flex-direction: column;   
    align-items: center; 
}

/* Card Image */
.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.shadow-frame {
  border: 5px solid #ffb2ef;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 20%;
}

/* Button */
.card button {
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    background-color: #f8d7da;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s ease;
}

.card button:hover {
    background-color: #f5b7b1;
}